In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [65]:
df = pd.read_csv("./data job posts.csv")

In [66]:
df

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,NaN,Full-time,NaN,NaN,NaN,Long-term,...,Competitive,"To apply for this position, please send your\r...",29 December 2015,28 January 2016,NaN,As a company Technolinguistics has a mandate t...,NaN,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,NaN,NaN,NaN,NaN,NaN,Long-term,...,Highly competitive,Interested candidates can send their CVs to:\r...,30 December 2015,29 January 2016,NaN,San Lazzaro LLC works with several internation...,NaN,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",NaN,Full-time,NaN,NaN,NaN,Indefinite,...,NaN,All qualified applicants are encouraged to\r\n...,30 December 2015,20 January 2016,NaN,"""Kamurj"" UCO CJSC is providing micro and small...",NaN,2015,12,False

# 1️⃣ Handling Missing Values

#### Check for NaN (missing values) in all columns

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   jobpost           19001 non-null  object
 1   date              19001 non-null  object
 2   Title             18973 non-null  object
 3   Company           18994 non-null  object
 4   AnnouncementCode  1208 non-null   object
 5   Term              7676 non-null   object
 6   Eligibility       4930 non-null   object
 7   Audience          640 non-null    object
 8   StartDate         9675 non-null   object
 9   Duration          10798 non-null  object
 10  Location          18969 non-null  object
 11  JobDescription    15109 non-null  object
 12  JobRequirment     16479 non-null  object
 13  RequiredQual      18517 non-null  object
 14  Salary            9622 non-null   object
 15  ApplicationP      18941 non-null  object
 16  OpeningDate       18295 non-null  object
 17  Deadline          18936 non-null  object
 18  Notes             2211 non-null   object
 19  AboutC            12470 non-null  object
 20  Attach            1559 non-null   object
 21  Year              19001 non-null  int64
 22  Month             19001 non-null  int64
 23  IT                19001 non-null  bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

#### Fill missing values using mode (for categorical) and median (for numeric) where appropriate.

In [68]:
num_cols = df.select_dtypes(include=["number"]).columns
cat_cols = df.select_dtypes(exclude=["number","bool"]).columns
print(num_cols,cat_cols)

Index(['Year', 'Month'], dtype='object') Index(['jobpost', 'date', 'Title', 'Company', 'AnnouncementCode', 'Term',
       'Eligibility', 'Audience', 'StartDate', 'Duration', 'Location',
       'JobDescription', 'JobRequirment', 'RequiredQual', 'Salary',
       'ApplicationP', 'OpeningDate', 'Deadline', 'Notes', 'AboutC', 'Attach'],
      dtype='object')

###### Finding the % of unique values in Categorical columns

In [69]:
percent_of_unique_vals_in_cat_cols = []
for i in cat_cols:
    percent_of_unique_vals_in_cat_cols.append((i,len(df[i].unique())/(len(df)-df[i].isna().sum())*100))
percent_of_unique_vals_in_cat_cols

[('jobpost', 99.42634598179043),
 ('date', 23.10931003631388),
 ('Title', 45.52258472566278),
 ('Company', 23.981257239128144),
 ('AnnouncementCode', 84.02317880794702),
 ('Term', 5.367378843147472),
 ('Eligibility', 13.468559837728195),
 ('Audience', 33.90625),
 ('StartDate', 12.268733850129198),
 ('Duration', 14.039636969809225),
 ('Location', 4.00653698139069),
 ('JobDescription', 85.12806936263154),
 ('JobRequirment', 86.06711572304144),
 ('RequiredQual', 90.12799049522062),
 ('Salary', 27.987944294325505),
 ('ApplicationP', 74.90628794678211),
 ('OpeningDate', 18.283684066684884),
 ('Deadline', 27.476763836079428),
 ('Notes', 46.675712347354136),
 ('AboutC', 48.25180433039294),
 ('Attach', 95.95894804361771)]

In [70]:
less_than_50_percent = [col[0] for col in percent_of_unique_vals_in_cat_cols if col[1]<50]
less_than_50_percent

['date',
 'Title',
 'Company',
 'Term',
 'Eligibility',
 'Audience',
 'StartDate',
 'Duration',
 'Location',
 'Salary',
 'OpeningDate',
 'Deadline',
 'Notes',
 'AboutC']

In [71]:
for col in less_than_50_percent:
    df[col] = df[col].fillna(df[col].mode()[0])

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   jobpost           19001 non-null  object
 1   date              19001 non-null  object
 2   Title             19001 non-null  object
 3   Company           19001 non-null  object
 4   AnnouncementCode  1208 non-null   object
 5   Term              19001 non-null  object
 6   Eligibility       19001 non-null  object
 7   Audience          19001 non-null  object
 8   StartDate         19001 non-null  object
 9   Duration          19001 non-null  object
 10  Location          19001 non-null  object
 11  JobDescription    15109 non-null  object
 12  JobRequirment     16479 non-null  object
 13  RequiredQual      18517 non-null  object
 14  Salary            19001 non-null  object
 15  ApplicationP      18941 non-null  object
 16  OpeningDate       19001 non-null  object
 17  Deadline          19001 non-null  object
 18  Notes             19001 non-null  object
 19  AboutC            19001 non-null  object
 20  Attach            1559 non-null   object
 21  Year              19001 non-null  int64
 22  Month             19001 non-null  int64
 23  IT                19001 non-null  bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

In [73]:
#<sender>_Dataset_<datasetname>
cols_lesser_than_70_percent_values = []
len_of_df = len(df)
for col in df.columns:
    if (len_of_df-df[col].isna().sum())/len_of_df<0.70:
        cols_lesser_than_70_percent_values.append(col)
df = df.drop(columns=cols_lesser_than_70_percent_values+["Notes"])

# 2️⃣String Operations & Text Processing

#### Clean JobDescription and JobRequirment by:
`Removing HTML tags, special characters, and excessive whitespace.`

In [75]:
import re

In [79]:
def remove_noise_from_text(text):
    text = re.sub(r'<.*?>', '', str(text))
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text


df["JobDescription"] = df["JobDescription"].apply(remove_noise_from_text)
df["JobRequirment"] = df["JobRequirment"].apply(remove_noise_from_text)

In [81]:
df["Title"].value_counts()

Title
Accountant                                                 356
Chief Accountant                                           219
Medical Representative                                     216
Sales Manager                                              166
Administrative Assistant                                   155
                                                          ...
Public Relations and Marketing Manager                       1
Software Developer (Ajax, ASP .Net)                          1
Software Developer (Ajax, PHP)                               1
Analyst, Analysis Division, Financial Monitoring Center      1
Head of Online Sales Department                              1
Name: count, Length: 8636, dtype: int64